
	<h1>User Submissions Gallery</h1>

	{{#each kscopes}}
	<div class="kscopes">
	<h2>{{id}}</h2>
		
		<div class="image-container">
			<a href="./{{id}}">
				{{#each imageFileNames}}
  				<div class="gallery"><img src="/uploads/{{this}}"></div>
  				{{/each}}
				{{!-- {{#if imageFileNames}}
				<img src="/uploads/{{this}}">
				{{/if}} --}}
			</a>
		</div>		
		
	</div>
{{/each}}


