
	<h1>A Kaleidoscope Gallery</h1>

	{{#each kscopes}}
	<div class="kscopes">
	<h2>{{id}}</h2>
		{{#if imageFileNames}}
		<a href="/:id"><img src="/uploads/{{imageFileNames}}"></a>
		{{/if}}
	</div>
{{/each}}


