
	<h1>User Submissions Gallery</h1>
	<div id="top-button"><a href="#nav-bar">top</a></div>
	{{#each kscopes}}
	<div class="kscopes">
	<h2><a href="./{{id}}">{{id}}</a></h2>
		
		<div class="image-container">
			
				{{#each imageFileNames}}
  				<div class="gallery"><img src="/uploads/{{this}}"></div>
  				{{/each}}
				{{!-- {{#if imageFileNames}}
				<img src="/uploads/{{this}}">
				{{/if}} --}}
			
		</div>		
		
	</div>
{{/each}}


