
	<h1>A Kaleidoscope Gallery</h1>

	{{#each kscopes}}
	<div class="kscopes">
	<h2>{{id}}</h2>
		
		<div class="image-container">
			<a href="./{{id}}">
				{{#each imageFileNames}}
  				<img src="/uploads/{{this}}">
  				{{/each}}
				{{!-- {{#if imageFileNames}}
				<img src="/uploads/{{this}}">
				{{/if}} --}}
			</a>
		</div>		
		
	</div>
{{/each}}


