{{!-- upload image --}}
<form action="/kscope/upload" method="post" enctype="multipart/form-data">
	<label for="image">Upload Image</label>
	<input id="image" type="file" name="file1" accepts="image/*">
	<input type="submit">
</form>